.storeButton {
  padding: 1.1rem 1rem;
  background-color: #0E89FF;
  border-radius: 0.625rem;
  color: var(--white);

  display: flex;
  justify-content:center;
  align-items:center;
  
}

.logo {
  position: relative;
  width: 5rem;
  height: 2rem;
  margin-right: 1rem; 
}
 