.banner {
  height: 31.25rem;
  background-color: var(--primary);
}

.headerContainer {
  height: 6.25rem; 
  background-color: var(--secondary);
  display: flex; 
  justify-content: center;
  align-items: center;
} 

.countDownContainer {
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.giftListContainer {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background-color: var(--primary); 
  text-align: center; 
}

.storeButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 3.438rem; 

  a:first-child {
    margin-right: 2.813rem;
  }
}

.confirmPresence {
  padding: 5rem 9.063rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

@media (max-width: 720px) {
  .banner {
    height: 25rem;
    background-color: var(--primary);
  } 
  .countDownContainer {
    height: 20rem; 
  }  
  .giftListContainer {
    padding: 3rem 2rem;
  } 
  .storeButtonsContainer {
    flex-direction: column; 
    a:first-child {
      margin-right:0rem;
      margin-bottom: 1.813rem;
    }
  }
  .confirmPresence {
    padding: 5rem 2rem;
  }
  
}
